/*================================================
Navbar Area CSS
=================================================*/
.luvion-responsive-nav {
    display: none;
  }
  
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .navbar-brand img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .navbar-brand img:nth-child(2) {
    display: none;
  }
  
  .luvion-nav {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  
  .luvion-nav .navbar {
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  
  .luvion-nav .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }
  
  .luvion-nav .navbar .navbar-nav {
    font-family: "Raleway", sans-serif;
    margin-left: auto;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item a {
    font-size: 17px;
    font-weight: 500;
    color: #e5e1e1;
    text-transform: capitalize;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item a:hover,
  .luvion-nav .navbar .navbar-nav .nav-item a:focus,
  .luvion-nav .navbar .navbar-nav .nav-item a.active {
    color: #ffffff;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item a i {
    font-size: 10px;
    margin-left: 1px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-right: 0;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-left: 0;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item:hover a,
  .luvion-nav .navbar .navbar-nav .nav-item.active a {
    color: #ffffff;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    position: absolute;
    border: none;
    top: 80px;
    left: 0;
    width: 250px;
    z-index: 99;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    text-transform: capitalize;
    padding: 8px 15px;
    margin: 0;
    color: #0e314c;
    font-size: 15.5px;
    font-weight: 500;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 220px;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
  }
  
  .luvion-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  
  .luvion-nav .navbar .others-options {
    margin-left: 25px;
  }
  
  .luvion-nav .navbar .others-options .login-btn {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }
  
  .luvion-nav .navbar .others-options .login-btn i {
    margin-right: 2px;
    color: #eae563;
  }
  
  .luvion-nav .navbar .others-options .login-btn:hover {
    color: #ffffff;
  }
  
  .navbar-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  
  .navbar-area.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff !important;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .navbar-area.is-sticky .navbar-brand img:nth-child(1) {
    display: none;
  }
  
  .navbar-area.is-sticky .navbar-brand img:nth-child(2) {
    display: block;
  }
  
  .navbar-area.is-sticky .luvion-nav {
    background-color: #ffffff;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item a {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item a:hover,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item a:focus,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item a.active {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item:hover a,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item.active a {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .others-options .login-btn {
    color: #0e314c;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .others-options .login-btn i {
    color: #ee0979;
  }
  
  .navbar-area.is-sticky .luvion-nav .navbar .others-options .login-btn:hover {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .navbar-brand img {
    display: block !important;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item a {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item a:hover,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item a:focus,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item a.active {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item:hover a,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item.active a {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #ee0979;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .others-options .login-btn {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .others-options .login-btn i {
    color: #0e314c;
  }
  
  .navbar-area.navbar-style-two .luvion-nav .others-options .login-btn:hover {
    color: #ee0979;
  }
  
  @media only screen and (max-width: 991px) {
    .luvion-responsive-nav {
      display: block;
    }
  
    .luvion-responsive-nav .luvion-responsive-menu {
      position: relative;
    }
  
    .luvion-responsive-nav .luvion-responsive-menu.mean-container .mean-nav ul {
      font-size: 14px;
    }
  
    .luvion-responsive-nav .luvion-responsive-menu.mean-container .mean-nav ul li a.active {
      color: #ee0979;
    }
  
    .luvion-responsive-nav .luvion-responsive-menu.mean-container .mean-nav ul li li a {
      font-size: 13.5px;
    }
  
    .luvion-responsive-nav .luvion-responsive-menu.mean-container .navbar-nav {
      overflow-y: scroll;
      height: 350px;
      -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    }
  
    .luvion-responsive-nav .mean-container a.meanmenu-reveal {
      color: #ffffff;
    }
  
    .luvion-responsive-nav .mean-container a.meanmenu-reveal span {
      background: #ffffff;
    }
  
    .luvion-responsive-nav .logo {
      position: relative;
      width: 50%;
      z-index: 999;
    }
  
    .luvion-responsive-nav .logo a img:nth-child(2) {
      display: none;
    }
  
    .luvion-responsive-nav .others-options {
      position: absolute;
      right: 52px;
      top: 3px;
    }
  
    .luvion-responsive-nav .others-options .login-btn {
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      font-family: "Raleway", sans-serif;
    }
  
    .luvion-responsive-nav .others-options .login-btn i {
      margin-right: 2px;
      color: #eae563;
    }
  
    .luvion-responsive-nav .others-options .login-btn:hover {
      color: #ee0979;
    }
  
    .navbar-area {
      border-bottom: 1px solid rgba(255, 255, 255, 0.09);
      padding-top: 15px;
      padding-bottom: 15px;
    }
  
    .navbar-area.is-sticky {
      border-bottom: none;
      -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    }
  
    .navbar-area.is-sticky .luvion-responsive-nav .mean-container a.meanmenu-reveal {
      color: #0e314c;
    }
  
    .navbar-area.is-sticky .luvion-responsive-nav .mean-container a.meanmenu-reveal span {
      background: #0e314c;
    }
  
    .navbar-area.is-sticky .luvion-responsive-nav .logo a img:nth-child(1) {
      display: none;
    }
  
    .navbar-area.is-sticky .luvion-responsive-nav .logo a img:nth-child(2) {
      display: block;
    }
  
    .navbar-area.is-sticky .luvion-responsive-nav .others-options .login-btn {
      color: #0e314c;
    }
  
    .navbar-area.is-sticky .luvion-responsive-nav .others-options .login-btn i {
      color: #ee0979;
    }
  
    .navbar-area.is-sticky .luvion-responsive-nav .others-options .login-btn:hover {
      color: #ee0979;
    }
  
    .navbar-area.navbar-style-two .luvion-responsive-nav .mean-container a.meanmenu-reveal {
      color: #0e314c;
    }
  
    .navbar-area.navbar-style-two .luvion-responsive-nav .mean-container a.meanmenu-reveal span {
      background: #0e314c;
    }
  
    .navbar-area.navbar-style-two .luvion-responsive-nav .logo a img {
      display: inline-block !important;
    }
  
    .navbar-area.navbar-style-two .luvion-responsive-nav .others-options .login-btn {
      color: #0e314c;
    }
  
    .navbar-area.navbar-style-two .luvion-responsive-nav .others-options .login-btn i {
      color: #ee0979;
    }
  
    .navbar-area.navbar-style-two .luvion-responsive-nav .others-options .login-btn:hover {
      color: #ee0979;
    }
  
    /* .luvion-nav {
      display: none;
    } */
  }
  
  /*================================================
  Main Banner Area CSS
  =================================================*/
  .main-banner {
    height: 100vh;
    /* background-image: url(/../assets/images/main-banner1.jpg); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .main-banner-content {
    margin-top: -20px;
    max-width: 600px;
  }
  
  .main-banner-content h1 {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
  }
  
  .main-banner-content p {
    color: #ffffff !important;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .main-banner-content .btn {
    margin-top: 30px;
  }
  
  .main-banner-section {
    height: 800px;
    /* background-image: url(/../assets/images/main-banner2.jpg); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .banner-content {
    margin-top: -50px;
  }
  
  .banner-content h1 {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
  }
  
  .banner-content p {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .banner-content .btn {
    margin-top: 30px;
  }
  
  .money-transfer-form {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 1;
    padding: 30px;
    border-radius: 5px;
    margin-top: -50px;
    margin-left: 100px;
  }
  
  .money-transfer-form::before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #ffffff;
    width: 96%;
    opacity: .62;
    height: 50%;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
  }
  
  .money-transfer-form::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: #ffffff;
    width: 96%;
    opacity: .62;
    height: 50%;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
  }
  
  .money-transfer-form form {
    text-align: center;
  }
  
  .money-transfer-form form .form-group {
    margin-bottom: 15px;
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    padding: 36px 10px 12px 15px;
    border-radius: 5px;
  }
  
  .money-transfer-form form .form-group .amount-currency-select {
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
  }
  
  .money-transfer-form form .form-group .nice-select {
    border: none;
    background-color: #0e314c;
    border-radius: 0 5px 5px 0;
    height: 100%;
    padding: 0 35px 0 25px;
    line-height: 72px;
    font-size: 17px;
    font-weight: 700;
  }
  
  .money-transfer-form form .form-group .nice-select:after {
    right: 19px;
    border-color: #ffffff;
  }
  
  .money-transfer-form form .form-group .nice-select span {
    color: #ffffff;
  }
  
  .money-transfer-form form .form-group .nice-select .list {
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .money-transfer-form form .form-group .nice-select .list .option {
    line-height: initial;
    min-height: auto;
    text-align: center;
    margin-top: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .money-transfer-form form .form-group .nice-select .list .option:hover,
  .money-transfer-form form .form-group .nice-select .list .option:focus,
  .money-transfer-form form .form-group .nice-select .list .option.focus,
  .money-transfer-form form .form-group .nice-select .list .option.selected {
    background-color: transparent;
  }
  
  .money-transfer-form form .form-group .nice-select .list .option:hover {
    color: #ee0979;
  }
  
  .money-transfer-form form .form-group .nice-select .list .option:first-child {
    margin-top: 0;
  }
  
  .money-transfer-form form .form-group label {
    position: absolute;
    left: 15px;
    top: 10px;
    color: #f9f9f9;
    margin-bottom: 0;
    display: block;
    font-weight: 300;
    font-size: 13.5px;
  }
  
  .money-transfer-form form .form-group .form-control {
    background-color: transparent;
    border: none;
    padding-left: 0;
    height: auto;
    line-height: initial;
    padding-right: 95px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
  }
  
  .money-transfer-form form .form-group .form-control::-webkit-input-placeholder {
    color: #ffffff;
  }
  
  .money-transfer-form form .form-group .form-control:-ms-input-placeholder {
    color: #ffffff;
  }
  
  .money-transfer-form form .form-group .form-control::-ms-input-placeholder {
    color: #ffffff;
  }
  
  .money-transfer-form form .form-group .form-control::placeholder {
    color: #ffffff;
  }
  
  .money-transfer-form form .currency-info {
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: left;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  
  .money-transfer-form form .currency-info .bar {
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .money-transfer-form form .currency-info .bar::before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: -1px;
    left: -2px;
    background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  }
  
  .money-transfer-form form .currency-info .bar::after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    content: '';
    position: absolute;
    bottom: -1px;
    left: -2px;
    background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  }
  
  .money-transfer-form form .currency-info span {
    display: inline-block;
    color: #6084a4;
    font-size: 14px;
  }
  
  .money-transfer-form form .currency-info span strong {
    color: #0e314c;
  }
  
  .money-transfer-form form .currency-info span:last-child {
    margin-left: 15px;
  }
  
  .money-transfer-form form .money-transfer-info {
    color: #6084a4;
    font-size: 14px;
  }
  
  .money-transfer-form form .money-transfer-info strong {
    display: block;
    margin-top: 3px;
    color: #0e314c;
    font-size: 16px;
  }
  
  .money-transfer-form form button {
    margin-top: 15px;
  }
  
  .money-transfer-form form .btn::before {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  }
  
  .money-transfer-form form .btn::after {
    background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  }
  
  .money-transfer-form form .terms-info {
    margin-top: 15px;
  }
  
  .money-transfer-form form .terms-info p {
    font-size: 14px;
  }
  
  .money-transfer-form form .terms-info p a {
    display: inline-block;
    color: #0e314c;
  }
  
  .money-transfer-form form .terms-info p a:hover {
    color: #ee0979;
  }
  
  .banner-section {
    position: relative;
    z-index: 1;
    background-color: black;
    /* background: transparent url(/../assets/images/shape-bg.png) left bottom no-repeat; */
    padding-top: 160px;
  }
  
  .hero-content {
    margin-top: -50px;
  }
  
  .hero-content h1 {
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 700;
  }
  
  .hero-content p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .hero-content .btn {
    margin-top: 30px;
  }
  
  .hero-image {
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .hero-image .main-image img:nth-child(2) {
    position: absolute;
    left: -30px;
    bottom: 60px;
    border-radius: 5px;
  }
  
  .hero-image .main-image img:nth-child(3) {
    position: absolute;
    right: -80px;
    top: 110px;
  }
  
  .hero-image .main-mobile-image {
    display: none;
  }
  
  .hero-image .circle-image {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    margin: 0 auto;
    z-index: -1;
  }
  
  .hero-image .video-btn {
    display: inline-block;
    position: absolute;
    z-index: 1;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 25px;
    bottom: 55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  
  .hero-image .video-btn i {
    margin-right: 2px;
  }
  
  .hero-image .video-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    z-index: -1;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .hero-image .video-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    border-radius: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  
  .hero-image .video-btn:hover::after {
    opacity: 1;
    visibility: visible;
  }
  
  .hero-image .video-btn:hover::before {
    opacity: 0;
    visibility: hidden;
  }
  
  .bg-gradient {
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  }
  
  .fe-menu {
    display: none;
  }
  
  .fe-menu {
    font-size: 25px;
  }
  
  @media (max-width: 540px) {
    .fe-menu {
      display: block;
    }
  }
  
  .navbar,
  .navbar .container,
  .navbar .container-fluid,
  .navbar .container-lg,
  .navbar .container-md,
  .navbar .container-sm,
  .navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .small-screen {
    display: none;
  }
  
  /* navbar display */
  @media (max-width: 600px) {
    .small-screen {
      display: block;
    }
  
    .main-screen {
      display: none;
    }
  }
  
  #betalogo {
    display: inline-block;
  }
  
  #beta {
    vertical-align: top;
    font-size: .5rem;
    left: -5px;
    padding: 5px;
  }